# Handle line endings automatically for files detected as text
# and leave files detected as binary untouched.
* text=auto

# Explicitly declare text files to ensure they are normalized to LF in the repo
# but converted to native line endings on checkout (CRLF on Windows).
*.dart text
*.rs text
*.yaml text
*.md text
*.json text
*.xml text
*.html text
*.css text
*.toml text
*.lock text
*.gradle text
*.properties text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.otf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pyc binary
*.pdf binary
